body {
  background-image: url('./background1.jpeg');
  color: rgb(130, 63, 0);
	text-shadow: 20px rgb(212, 5, 5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 20vh;
  align-items: left;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 125%;
  border: 10px;
	border-color: blanchedalmond;
  padding: 10px;
  margin: 10px;
  opacity: 75%;
	text-align: justify;

}

div#footer {
	position:fixed;
	bottom: 10%;
	left: 5px;
	height: 40px;
	width: 33%;
	color:darkgoldenrod;
	background-color: blanchedalmond;
	background-image: url('./background3.jpeg');
	padding: 2px;
	opacity: 90%;
}

input
{
	background-color:antiquewhite;
	color:cadetblue
}
Select
{
	background-color: cadetblue;
	color: bisque;
}
a
{
	color: darkgoldenrod;
	/* background-color: brown; */
}
card
{
	background-color: blanchedalmond;
	opacity: 90%;
	border-radius: 23px;
	border: 10px;
	padding: 10px;
	margin: 10px;
}
